version: '3'
services:
  memgraph-db:
    image: memgraph/memgraph-platform
    container_name: memgraph-db
    ports:
      - "7687:7687"
      - "3000:3000"
      - "7444:7444"
    volumes:
      - ./mg_lib:/var/lib/memgraph
      - ./mg_log:/var/log/memgraph
      - ./mg_etc:/etc/memgraph
  app:
    build: .
    container_name: streamlit-app
    ports:
      - "8501:8501"
    volumes:
      - ./:/app
    environment:
      - MEMGRAPH_HOST=memgraph-db
      - MEMGRAPH_PORT=7687
    depends_on:
      - memgraph-db